/* Fonts */
@font-face {
  font-family: "ITC Avant Garde Gothic Pro";
  src: url("../fonts/ITCAvantGardePro-Bk.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ITC Avant Garde Gothic Pro";
  src: url("../fonts/ITCAvantGardePro-Bold.otf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "ITC Avant Garde Gothic Pro";
  src: url("../fonts/ITCAvantGardePro-Demi.otf");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "ITC Avant Garde Gothic Pro";
  src: url("../fonts/ITCAvantGardePro-Md.otf");
  font-weight: 500;
  font-style: normal;
}

/* Global */
html {
  font-size: 16px;
  font-family: "ITC Avant Garde Gothic Pro";
}

body {
  margin: unset;
}

@font-face {
  font-family: "Avenir";
  src: url("../fonts/Avenir.ttc") format("truetype-collection");
  font-weight: normal;
  font-style: normal;
}

$white: #ffffff;
$dark-grey: #333333;
$blue-color: #99c4cc;
$pink-color: #cc9999;
$purple-color: #cb99cc;
$green-color: #a6cc99;
$black-color: rgba(0, 0, 0, 0.1);
$gray-color: #66666669;
$loading-color: #83e861;

$content-heading-max-width: 30.875rem;
$content-desc-max-width: 27rem;
$main-image-height: calc(100vh - 2.5rem);
$transition-timing-function: cubic-bezier(0.18, 0.89, 0.32, 1.28);
$loading-animation-duration: 1.2s;

/* Mobile */
@media (max-width: 767px) {
  .container {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    width: 100vw;

    .main-image-container {
      width: 100vw;

      > img {
        width: 100vw;
        height: auto;
        object-fit: cover;
        max-height: 437px;
        object-position: top;
      }
    }

    .content-container {
      position: absolute;
      margin-top: 15.5rem;
      margin-left: 1.5rem;
      width: calc(100vw - 1.5rem);

      .mobile-content-heading {
        display: block;
        max-width: 19.5rem;
        font-style: normal;
        font-weight: 700;
        font-size: 1.25rem;
        line-height: 130%;
        color: $white;
      }

      .content-heading {
        display: none;
      }

      .content-desc {
        display: none;
      }

      .content-shop-link {
        font-family: "Avenir";
        font-style: normal;
        font-weight: 900;
        font-size: 0.8rem;
        line-height: 1.063rem;
        text-transform: capitalize;
        color: $white;
        margin-top: 1rem;
        border-bottom: 1px solid $white;
        width: fit-content;
        cursor: pointer;
      }

      .content-slider {
        width: 100%;
        overflow: hidden;
        margin-top: 1.875rem;

        .cards-container {
          display: flex;
          flex-direction: row;
          gap: 0.75rem;
          align-items: center;
          justify-content: space-between;
          transition: transform 0.3s $transition-timing-function;

          .content-slider-card {
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            .content-slider-card-img > img {
              max-width: 9.25rem;
            }

            .content-slider-card-desc {
              display: flex;
              flex-direction: column;
              width: 100%;

              .content-slider-card-desc-name {
                margin-top: 0.75rem;
                font-style: normal;
                font-weight: 400;
                font-size: 0.8rem;
                line-height: 160%;
                height: 40px;
              }

              .content-slider-card-desc-price {
                display: flex;
                flex-direction: column;
                gap: 0.5rem;
                justify-content: space-between;
                margin-top: 0.25;
                font-style: normal;
                font-weight: 400;
                font-size: 0.8rem;
                line-height: 160%;
              }
            }
          }
        }
      }
    }
  }

  .circle-container {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;

    .circle {
      height: 0.75rem;
      width: 0.75rem;
      border-radius: 50%;

      &.blue {
        background-color: $blue-color;
      }

      &.pink {
        background-color: $pink-color;
      }

      &.purple {
        background-color: $purple-color;
      }

      &.green {
        background-color: $green-color;
      }
    }
  }

  .outer-circle {
    position: relative;
    width: 0.75rem;
    height: 0.75rem;
    border: 1px solid black;
    border-radius: 50%;
    background-color: white;
  }

  .selected-circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0.375rem;
    height: 0.375rem;
    border-radius: 50%;
  }

  .blue-selected {
    background-color: $blue-color;
  }

  .pink-selected {
    background-color: $pink-color;
  }

  .purple-selected {
    background-color: $purple-color;
  }

  .green-selected {
    background-color: $green-color;
  }

  .slider-arrows {
    position: absolute;
    top: 13.75rem;
    left: 0;
    right: 0;
    height: 100px;
  }

  .slider-arrow {
    position: absolute;
    width: 2.5rem;
    height: 2.5rem;
    border: 1px solid $black-color;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 10;

    &:hover {
      background-color: $gray-color;
      border-color: black;
    }
  }

  .slider-left-arrow {
    left: 0;
    visibility: hidden;
  }

  .slider-right-arrow {
    right: 1.5rem;
    visibility: hidden;
  }
}

/* Desktop */

@media (min-width: 768px) {
  .container {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    overflow: hidden;
  }

  .main-image-container > img {
    height: 100vh;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
  }

  .content-container {
    width: 50vw;
    position: absolute;
    right: 0;
    top: 0;
    top: 6.6vw;
    left: 58.25vw;
  }

  .content-heading {
    font-style: normal;
    font-weight: 700;
    font-size: 1.953rem;
    line-height: 130%;
    display: flex;
    align-items: flex-end;
    color: #000000;
    max-width: $content-heading-max-width;
  }

  .mobile-content-heading {
    display: none;
  }

  .content-desc {
    font-family: "Avenir";
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 160%;
    color: #666666;
    margin-top: 0.75rem;
    max-width: $content-desc-max-width;
  }

  .content-shop-link {
    font-family: "Avenir";
    font-style: normal;
    font-weight: 900;
    font-size: 0.8rem;
    line-height: 1.0625rem;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    color: #000000;
    margin-top: 2rem;
    padding-bottom: 0.313rem;
    border-bottom: 1px solid black;
    width: fit-content;
    cursor: pointer;
  }

  .content-slider {
    margin-top: 4.25rem;
    overflow: hidden;
    width: 41.75vw;

    .cards-container {
      display: flex;
      flex-direction: row;
      gap: 2rem;
      align-items: center;
      justify-content: space-between;
      transition: transform 0.3s $transition-timing-function;

      .content-slider-card {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        .content-slider-card-img > img {
          max-width: 14.375rem;
        }

        .content-slider-card-desc {
          display: flex;
          flex-direction: column;
          width: 100%;

          .content-slider-card-desc-name {
            margin-top: 0.75rem;
            font-style: normal;
            font-weight: 400;
            font-size: 0.8rem;
            line-height: 160%;
          }

          .content-slider-card-desc-price {
            display: flex;
            justify-content: space-between;
            margin-top: 0.25;
            font-style: normal;
            font-weight: 400;
            font-size: 0.8rem;
            line-height: 160%;
          }
        }
      }

      .circle-container {
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
        align-items: center;

        .circle {
          height: 0.75rem;
          width: 0.75rem;
          border-radius: 50%;

          &.blue {
            background-color: #99c4cc;
          }

          &.pink {
            background-color: #cc9999;
          }

          &.purple {
            background-color: #cb99cc;
          }

          &.green {
            background-color: #a6cc99;
          }
        }
      }
    }
  }

  .cards-container {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
    justify-content: space-between;
    transition: transform 0.3s $transition-timing-function;
  }

  .content-slider-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &-img > img {
      max-width: 14.375rem;
    }
  }

  .cards-container {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
    justify-content: space-between;
    transition: transform 0.3s $transition-timing-function;
  }

  .content-slider-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &-img > img {
      max-width: 14.375rem;
    }

    &-desc {
      display: flex;
      flex-direction: column;
      width: 100%;

      &-name {
        margin-top: 0.75rem;
        font-style: normal;
        font-weight: 400;
        font-size: 0.8rem;
        line-height: 160%;
      }

      &-price {
        display: flex;
        justify-content: space-between;
        margin-top: 0.25;
        font-style: normal;
        font-weight: 400;
        font-size: 0.8rem;
        line-height: 160%;
      }
    }
  }

  .circle-container {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;

    .circle {
      height: 0.75rem;
      width: 0.75rem;
      border-radius: 50%;
    }

    .blue {
      background-color: $blue-color;
    }

    .pink {
      background-color: $pink-color;
    }

    .purple {
      background-color: $purple-color;
    }

    .green {
      background-color: $green-color;
    }
  }

  .outer-circle {
    position: relative;
    width: 0.75rem;
    height: 0.75rem;
    border: 1px solid black;
    border-radius: 50%;
    background-color: white;

    .selected-circle {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 0.75rem;
      height: 0.75rem;
      border-radius: 50%;
    }
  }

  .slider-arrows {
    position: absolute;
    top: 60.5%;
    left: 0;
    right: 0;
    height: 100px;
    width: 41.75vw;

    .slider-arrow {
      position: absolute;
      width: 2.5rem;
      height: 2.5rem;
      border: 1px solid $black-color;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      z-index: 10;

      &:hover {
        background-color: $gray-color;
        border-color: black;
      }

      &:hover {
        background-color: #66666669;
        border-color: black;
      }

      &.slider-left-arrow {
        left: 0;
        visibility: hidden;
      }

      &.slider-right-arrow {
        right: 3.3vw;
        visibility: hidden;
      }
    }
  }
}

.loader-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  margin-top: 10vh;
}

.loader {
  border: 6px solid #f3f3f3;
  border-top: 6px solid $loading-color;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin $loading-animation-duration linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
